@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 66.0625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

@media (max-width: 47.99875em) {
  .menu__icon {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ec5863;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu__icon._active span {
    width: 0;
  }
  .menu__icon._active::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu__icon._active::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
}
@media (max-width: 1087px) {
  .header .header__container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .header .header__container {
    max-width: 750px;
  }
}
.header__logo {
  z-index: 3;
}
@media (max-width: 400px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
}
.header__button {
  z-index: 3;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .header__button {
    flex: 0 0 150px;
  }
}

.menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}
.menu__list {
  display: flex;
}
@media (max-width: 767px) {
  .menu__list {
    display: block;
  }
  .menu__list li {
    padding: 0px 0px 20px 0px;
    font-size: 24px;
  }
}
.menu__item {
  font-family: Raleway;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%; /* 12/10 */
  text-transform: uppercase;
  color: #000;
  margin: 0px 40px 0px 0px;
  letter-spacing: 1px;
}
.menu__item:hover {
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 767px) {
  .menu__item {
    color: #fff;
  }
}
.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #b71521;
}
.button_blue {
  background-color: #4285F4;
}
.button_blue:hover {
  background-color: #0a45a9;
}

.menu__icon {
  display: flex;
  justify-content: center;
}

.footer__container {
  padding: 70px 0px 43px 0px;
}
.footer__items {
  gap: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer__items {
    flex-direction: column;
    gap: 30px;
  }
}

.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 125%; /* 55/44 */
  letter-spacing: 0.5px;
  color: #000;
}
.block-text__title span {
  color: #EC5863;
}
.block-text__title_blue span {
  color: #4285F4;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
@media (max-width: 767px) {
  .block-text__title {
    font-size: 34px;
  }
}
.block-text__text {
  line-height: 138.5%; /* 16.62/12 */
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.block-text__text_mw {
  max-width: 620px;
  margin: 0 auto;
}
.block-text_center {
  text-align: center;
}

.get-started {
  background-color: #FAFBFD;
}
.get-started__container {
  padding: 150px 15px 50px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  background-color: #ec5863;
  transform: translate(100%, 0px);
  border-radius: 30px 0px 0px 30px;
}
@media (max-width: 991.98px) {
  .get-started__container::before {
    right: 185px;
    border-radius: 20px 0 0 20px;
  }
}
@media (max-width: 767.98px) {
  .get-started__container::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .get-started__container {
    padding: 100px 15px 30px 15px;
  }
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0px 20px;
}
@media (max-width: 767px) {
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
}
.get-started__block-text {
  max-width: 410px;
}
@media (max-width: 767px) {
  .get-started__block-text {
    max-width: none;
  }
}
.get-started__video {
  padding: 60px 0px 0px 20px;
  flex: 1 1 100%;
}
@media (max-width: 767px) {
  .get-started__video {
    padding: 0;
  }
}
.get-started__image {
  flex: 0 1 52%;
  position: relative;
  z-index: 2;
}
.get-started__image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0px;
  }
}

.video-get-started {
  display: inline-flex;
}
.video-get-started__icon {
  flex: 0 0 44px;
}
.video-get-started__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 12px;
}
.video-get-started__title {
  font-size: 13px;
  line-height: 126%; /* 16.38/13 */
  color: #B0B0B0;
  letter-spacing: 1px;
}
.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.video-get-started__text {
  font-size: 9px;
  line-height: 126%; /* 11.34/9 */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000;
}

.stay-safe {
  padding: 80px 0px;
}
@media (max-width: 767px) {
  .stay-safe {
    padding: 30px 0px;
  }
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .stay-safe__container {
    flex-direction: column-reverse;
  }
}
.stay-safe__media {
  flex: 0 1 50%;
  padding: 0px 0px 0px 47px;
}
.stay-safe__content {
  flex: 0 1 50%;
}
.media-stay-safe {
  width: 373px;
  padding: 56px 0px 27px 0px;
  text-align: center;
  position: relative;
}
.media-stay-safe__image {
  display: inline-block;
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  position: relative;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 2;
}
.media-stay-safe__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
}
.media-stay-safe__item_1 {
  top: 0;
  left: 0;
  height: 147px;
  width: 147px;
}
.media-stay-safe__item_2 {
  width: 77px;
  height: 77px;
  left: 259px;
  top: 358px;
}
.media-stay-safe__item_3 {
  width: 77px;
  height: 77px;
  left: 30px;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .media-stay-safe__item {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .media-stay-safe {
    margin: 30px 0px 0px 0px;
  }
}

.text-stay-safe {
  max-width: 310px;
}

.experts {
  background-color: #FAFBFD;
  padding: 103px 0px 116px 0px;
}
@media (max-width: 767px) {
  .experts {
    padding: 80px 0px 30px 0px;
  }
}
.experts__block-text {
  max-width: 350px;
}
.experts__video {
  flex: 0 1 50%;
  padding: 0px 0px 30% 0px;
  position: relative;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 767px) {
  .experts__video {
    padding: 0px 0px 58% 0px;
  }
}
.experts__body {
  display: flex;
}
@media (max-width: 767px) {
  .experts__body {
    flex-direction: column;
    align-items: stretch;
  }
}
.experts__content {
  flex: 0 1 50%;
  padding: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
  .experts__content {
    padding: 0;
    margin: 0px 0px 30px 0px;
  }
}

.statisticts-experts {
  max-width: 655px;
  margin: 0 auto;
  position: relative;
}
.statisticts-experts__body {
  background-color: #fff;
  opacity: 0.66;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  z-index: 2;
  position: relative;
  margin: 0px 0px 80px 0px;
}
@media (max-width: 767px) {
  .statisticts-experts__body {
    margin: 0px 0px 50px 0px;
  }
}
.statisticts-experts__decor {
  position: absolute;
  background-color: #EC5863;
}
.statisticts-experts__decor_1 {
  width: 65px;
  height: 65px;
  transform: rotate(-30deg);
  bottom: -31px;
  left: -22px;
  border-radius: 16px;
}
.statisticts-experts__decor_2 {
  width: 96px;
  height: 96px;
  border-radius: 30px;
  transform: rotate(105deg);
  left: 240px;
  top: -43px;
}
.statisticts-experts__decor_3 {
  width: 128px;
  height: 128px;
  border-radius: 30px;
  transform: rotate(-30deg);
  right: -66px;
  top: -13px;
}

.body-statisticts-experts {
  padding: 28px 80px;
  display: flex;
  align-items: center;
}
.body-statisticts-experts__item {
  flex: 1 1 auto;
}
@media (max-width: 479px) {
  .body-statisticts-experts__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.body-statisticts-experts__value {
  font-size: 36px;
  font-weight: 700;
  line-height: 119.444444%; /* 43/36 */
  letter-spacing: 14%;
  text-align: center;
  color: #EC5863;
}
.body-statisticts-experts__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 118.181818%; /* 13/11 */
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .body-statisticts-experts {
    padding: 25px;
  }
}
@media (max-width: 479px) {
  .body-statisticts-experts {
    flex-direction: column;
  }
}

.healthcare {
  padding: 80px 0px 30px 0px;
}
@media (max-width: 767px) {
  .healthcare {
    padding: 30px 0px 30px 0px;
  }
}
.healthcare__block-text {
  margin: 0px 0px 45px 0px;
}
.healthcare__items {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  gap: 72px;
}
@media (max-width: 1000px) {
  .healthcare__items {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .healthcare__items {
    flex-direction: column;
  }
}
.healthcare__item {
  z-index: 2;
  flex: 0 1 33.333%;
}
.healthcare__item:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.item-healthcare {
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 17px;
  text-align: center;
}
.item-healthcare__icon {
  margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 138%;
  color: #000;
  margin: 0px 0px 4px 0px;
}
.item-healthcare__text {
  line-height: 138%;
}

.healthcare__container {
  position: relative;
}
.healthcare__decor {
  position: absolute;
  background-color: #EC5863;
}
.healthcare__decor_1 {
  width: 65px;
  height: 65px;
  bottom: -20px;
  left: 20px;
  border-radius: 16px;
  transform: rotate(-30deg);
}
.healthcare__decor_2 {
  width: 96px;
  height: 96px;
  transform: rotate(105deg);
  border-radius: 30px;
  top: 50%;
  left: 290px;
}
.healthcare__decor_3 {
  width: 127px;
  height: 127px;
  border-radius: 30px;
  transform: rotate(-30deg);
  bottom: -20px;
  left: 640px;
}
.healthcare__decor_4 {
  width: 65px;
  height: 65px;
  top: 110px;
  right: 30px;
  border-radius: 16px;
  transform: rotate(-30deg);
}
